<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">UCM AMM</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" aria-controls="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto" *ngIf="loginService.isLoggedIn()">
      <li *ngIf="hasRole('ROLE_USER') || hasRole('ROLE_USER_2') || hasRole('ROLE_VOTER_ADMIN') || hasRole('ROLE_ELECTION_ADMIN')" class="nav-item">
        <a class="nav-link" routerLink="/elections" routerLinkActive="active">Elections</a>
      </li>
      <li *ngIf="hasRole('ROLE_USER') || hasRole('ROLE_USER_2') || hasRole('ROLE_VOTER_ADMIN') || hasRole('ROLE_ELECTION_ADMIN')" class="nav-item">
        <a class="nav-link" routerLink="/voters" routerLinkActive="active">Voters</a>
      </li>
      <li *ngIf="hasRole('ROLE_BALLOT_ENCODER')" class="nav-item">
        <a class="nav-link" routerLink="/ballot" routerLinkActive="active">Ballot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reports" routerLinkActive="active">Results</a>
      </li>
      <li *ngIf="hasRole('ROLE_USER') || hasRole('ROLE_USER_2') || hasRole('ROLE_MEMBER_ADMIN')" class="nav-item">
        <a class="nav-link" routerLink="/members" routerLinkActive="active">Members</a>
      </li>
      <li *ngIf="hasRole('ROLE_ADMIN')" class="nav-item">
        <a class="nav-link" routerLink="/administrators" routerLinkActive="active">Users</a>
      </li>
    </ul>
    <div class="ml-auto user-greetings" *ngIf="loginService.isLoggedIn()">
      <span>Hello, </span>
      <a class="mr-2" href="#" title="{{fullName}}">{{userName}}</a>
      <span>&nbsp;&nbsp;</span>
      <a class="mr-2" routerLink="/changepassword" title="Change Password"><small>Change Password</small></a>
      <span>&nbsp;&nbsp;</span>
      <button class="btn btn-danger ml-auto" title="Log-out" (click)="logout()"><fa-icon [icon]="faSignOutAlt"></fa-icon></button>
    </div>
    <div *ngIf="!loginService.isLoggedIn() && !isLoginPage" class="my-2 my-lg-0 ml-auto">
      <login-modal></login-modal>
    </div>
  </div>
</nav>
<div class="content-padding mr-3 ml-3">
  <router-outlet></router-outlet>
</div>