<div class="mb-5">
    <h2><span>Reports </span> <fa-icon [icon]="faChartBar"></fa-icon></h2>
    <div *ngIf="!activeElection">
        <div class="card" style="min-height: 500px;">
            <div class="card-header">
                <h5>Notice</h5>
            </div>
            <div class="card-body">
                <h4 class="card-title">There is no active <a class="election-link" routerLink="/elections">election</a>.</h4>
            </div>
        </div>
    </div>
    <div *ngIf="activeElection">
        <div class="row">
            <div class="col-md-3 mt-4 mb-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Results Summary</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-borderless">
                                        <tbody>
                                            <tr>
                                                <td class="text-right">
                                                    <span>Active Members Participated</span>
                                                </td>
                                                <td class="mb-5">
                                                    <span class="stat mr-5">{{membersParticipated | number : '1.2'}}%</span> 
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-right">
                                                    <span>Voters</span>
                                                </td>
                                                <td class="mb-5">
                                                    <span class="stat mr-5">{{activeElection.voter || 0}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-right">
                                                    <span>Proxy</span>
                                                </td>
                                                <td class="mb-5">
                                                    <span class="stat mr-5">{{activeElection.proxy || 0}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-right">
                                                    <span>Submitted Votes</span>
                                                </td>
                                                <td class="mb-5">
                                                    <span class="stat mr-5">{{voted | number : '1.2'}}%</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="col-md-12">
                                        <p>
                                            <span>
                                                Download Voters List (
                                                    <a href="/api/v1/reports/all-voters?electionId={{activeElection.id}}&type=PDF" (click)="notifyDownloading()">
                                                        PDF
                                                    </a>
                                                    <span> | </span>
                                                    <a href="/api/v1/reports/all-voters?electionId={{activeElection.id}}&type=XLSX" (click)="notifyDownloading()">
                                                        Excel
                                                    </a>            
                                                )
                                            </span>
                                        </p>
                                        <p>
                                            <span>
                                                Download Voters Turnout Report (
                                                    <a href="/api/v1/reports/all-voters-vs-members?electionId={{activeElection.id}}&type=PDF" (click)="notifyDownloading()">
                                                        PDF
                                                    </a>
                                                    <span> | </span>
                                                    <a href="/api/v1/reports/all-voters-vs-members?electionId={{activeElection.id}}&type=XLSX" (click)="notifyDownloading()">
                                                        Excel
                                                    </a>            
                                                )
                                            </span>
                                        </p>
                                        <p>
                                            <span>
                                                Download Election Report (
                                                    <a href="/api/v1/reports/election?electionId={{activeElection.id}}&type=PDF" (click)="notifyDownloading()">
                                                        PDF
                                                    </a>
                                                    <span> | </span>
                                                    <a href="/api/v1/reports/election?electionId={{activeElection.id}}&type=XLSX" (click)="notifyDownloading()">
                                                        Excel
                                                    </a>            
                                                )
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 mb-5">
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="card-group">
                            <div *ngIf="activeElection.proposals && activeElection.proposals.length" class="card">
                                <div class="card-header">
                                    <h5>Proposals</h5>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr *ngFor="let proposal of activeElection.proposals">
                                                    <td>
                                                        <span>{{proposal.content}}</span>
                                                        <ngb-progressbar [type]="determineType(proposal.approved)" [value]="computePercent(proposal.approved)"><i>{{formatProgressbarLabel(proposal.approved)}}</i></ngb-progressbar>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="activeElection.questions && activeElection.questions.length" class="card">
                                <div class="card-header">
                                    <h5>Questions</h5>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr *ngFor="let question of activeElection.questions">
                                                    <td>
                                                        <span>{{question.content}}</span>
                                                        <ul style="list-style: none;">
                                                            <li *ngFor="let answer of question.answers">
                                                                <span>{{answer.content}}</span>
                                                                <ngb-progressbar [type]="determineType(answer.selected)" [value]="computePercent(answer.selected)"><i>{{formatProgressbarLabel(answer.selected)}}</i></ngb-progressbar>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let seat of activeElection.seats" class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>{{seat.name}}</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr *ngFor="let candidate of seat.candidates">
                                                <td style="width: 200px;">
                                                    <span>{{candidate.firstName}} {{candidate.lastName}} {{candidate.suffix}}</span>
                                                </td>
                                                <td>
                                                    <ngb-progressbar [type]="determineType(candidate.approved)" [value]="computePercent(candidate.approved)"><i>{{formatProgressbarLabel(candidate.approved)}}</i></ngb-progressbar>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>