<div>
  <h2 *ngIf="!update"><span>Add Member </span><fa-icon [icon]="faAddressCard"></fa-icon></h2>
  <h2 *ngIf="update && !memberForm.disabled"><span>Edit Member </span><fa-icon [icon]="faAddressCard"></fa-icon></h2>
  <h2 *ngIf="update && memberForm.disabled"><span>View Member </span><fa-icon [icon]="faAddressCard"></fa-icon></h2>
  <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-md-4">
        <label for="firstName">First Name</label>
        <input id="firstName" type="text" formControlName="firstName" class="form-control" placeholder="First Name" required />
      </div>
      <div class="form-group col-md-3">
        <label for="middleName">Middle Name</label>
        <input id="middleName" type="text" formControlName="middleName" class="form-control" placeholder="Middle Name" />
      </div>
      <div class="form-group col-md-3">
        <label for="lastName">Last Name</label>
        <input id="lastName" type="text" formControlName="lastName" class="form-control" placeholder="Last Name" required />
      </div>
      <div class="form-group col-md-2">
          <label for="suffix">Suffix</label>
          <input id="suffix" type="text" formControlName="suffix" class="form-control" placeholder="Suffix" />
        </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            <label>Phone Numbers</label>
          </div>
        </div>
        <div formArrayName="phoneNumbers" *ngFor="let phoneNumber of phoneNumbers.controls; let i = index" class="row mb-2">
          <div class="input-group col-md-12">
            <input type="tel" [formControlName]="i" class="form-control" placeholder="{{'Phone Number ' + (i+1)}}" />
            <div *ngIf="!memberForm.disabled" class="input-group-append">
              <button type="button" *ngIf="i != 0" class="btn btn-sm btn-danger" (click)="removePhoneNumber(i)">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="!memberForm.disabled" class="row mb-3">
          <div class="col-md-12">
            <button type="button" class="btn btn-info" title="Add Phone Number" (click)="addPhoneNumber(1, false)">
              <fa-icon [icon]="faPlus"></fa-icon>
              <span>&nbsp;</span>
              <fa-icon [icon]="faPhone"></fa-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            <label>Email Address</label>
          </div>
        </div>
        <div formArrayName="emailAddresses" *ngFor="let emailAddress of emailAddresses.controls; let i = index" class="row mb-2">
          <div class="input-group col-md-12">
            <input type="email" [formControlName]="i" class="form-control" placeholder="{{'E-mail Address ' + (i+1)}}" />
            <div *ngIf="!memberForm.disabled" class="input-group-append">
              <button type="button" *ngIf="i != 0" class="btn btn-sm btn-danger" (click)="removeEmailAddress(i)">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="!memberForm.disabled" class="row mb-3">
          <div class="col-md-12">
            <button type="button" class="btn btn-info" title="Add Email Address" (click)="addEmailAddress(1, false)">
              <fa-icon [icon]="faPlus"></fa-icon>
              <span>&nbsp;</span>
              <fa-icon [icon]="faEnvelope"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="streetAddress">House No., Unit No., Bldg, Street</label>
        <input id="streetAddress" type="text" formControlName="streetAddress" class="form-control" placeholder="House No., Unit No., Bldg, Street" />
      </div>
      <div class="form-group col-md-6">
        <label for="village">Village, Subdivision, Barangay</label>
        <input id="village" type="text" formControlName="village" class="form-control" placeholder="Village, Subdivision, Barangay" />
      </div>
      <div class="form-group col-md-6">
        <label for="city">City/Town</label>
        <input id="city" type="text" formControlName="city" class="form-control" placeholder="City/Town" />
      </div>
      <div class="form-group col-md-6">
        <label for="province">Province/State</label>
        <input id="province" type="text" formControlName="province" class="form-control" placeholder="Province/State" />
      </div>
      <div class="form-group col-md-6">
        <label for="zipCode">Zip Code</label>
        <input id="zipCode" type="text" formControlName="zipCode" class="form-control" placeholder="Zip Code" />
      </div>
      <div class="form-group col-md-6">
        <label for="country">Country</label>
        <input id="country" type="text" formControlName="country" class="form-control" placeholder="Country" />
      </div>        
    </div>
    <div class="row">
      <div class="col-md-4">
        <input id="active" type="checkbox" formControlName="active" class="mr-2" />
        <label for="active">Is Active Member?</label>
      </div>
    </div>
    <div class="row my-5">
      <div *ngIf="!memberForm.disabled" class="form-group col-md-12 text-center">
        <button type="button" class="btn btn-secondary mr-2" (click)="onCancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="!memberForm.valid">Submit</button>
      </div>
      <div *ngIf="memberForm.disabled" class="form-group col-md-12 text-center">
        <button *ngIf="hasRole('ROLE_MEMBER_ADMIN')" type="button" class="btn btn-primary mr-2" (click)="loadEditForm()">Edit Member</button>
        <button type="button" class="btn btn-secondary mr-2" (click)="routeToList()">View Member List</button>
      </div>
    </div>
  </form>
</div>