<div>
    <h2><span>Members </span> <fa-icon [icon]="faAddressCard"></fa-icon>
    </h2>
    <div class="row border-top border-bottom py-1 mb-2">
        <div class="col-md-4">
            <a href="/api/v1/reports/all-members?type=PDF" class="btn btn-danger" title="PDF" (click)="notifyDownload('PDF')">
                <span>Download as PDF </span>
                <fa-icon [icon]="faFilePdf"></fa-icon>
            </a>
            &nbsp;
            <a href="/api/v1/reports/all-members?type=XLSX" class="btn btn-success" title="Excel" (click)="notifyDownload('Excel')">
                <span>Download as Excel </span>
                <fa-icon [icon]="faFileExcel"></fa-icon>
            </a>
        </div>
        <div class="col-md-4 my-2 text-center">
            <small>Active: </small>
            <strong>{{activeCount}}</strong>
            <span>&nbsp;&nbsp;</span>
            <small>Total: </small>
            <strong>{{totalCount}}</strong>
        </div>
        <div *ngIf="isAllowedToUploadMembersList()" class="col-md-4">
            <a class="btn btn-outline-dark float-right" title="Upload Members List" (click)="onFileUploadLinkClicked()">
                <span>Upload Members </span>
                <fa-icon [icon]="faFileUpload"></fa-icon>
            </a>
        </div>
    </div>
    <custom-table [headers]="headers" [rows]="rows" [isLastRow]="isLastRow" [domainName]="'Member'" [domainIcon]="faAddressCard" [domainFormLink]="memberFormLink" [activeFilterShown]="activeFilterShown" adminRole="ROLE_MEMBER_ADMIN" (onTableReloadRequest)="onTableReloadRequest($event[0])" (onDeleteRow)="onDeleteRow($event[0])"></custom-table>
</div>