<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">  
    <div class="input-group mb-3">
      <div class="custom-file">
        <input id="inputGroupFile02" type="file" accept=".xlsx" class="custom-file-input" (change)="onFileChange($event)" [disabled]="progressPercentage > 0">
        <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">{{filename}}</label>
      </div>
    </div>
    <p>
      <input id="saveAsActive" type="checkbox" [(ngModel)]="saveAsActive" [disabled]="progressPercentage > 0" class="mr-2" />
      <label for="saveAsActive">Save Members as the Active List</label>
    </p>
    <p *ngIf="progressPercentage > 0"><ngb-progressbar type="success" [value]="progressPercentage">{{progressPercentage}}</ngb-progressbar></p>
    <p *ngIf="successful"><strong>Done!</strong></p>
</div>
<div *ngIf="successful" class="modal-footer">
  <button class="btn btn-secondary" type="button" (click)="close()">Close</button>
</div>
<div *ngIf="!successful" class="modal-footer">
  <button class="btn btn-primary" type="button" (click)="upload()" [disabled]="progressPercentage > 0">Upload</button>
  <button class="btn btn-danger" type="button" (click)="cancel()" [disabled]="progressPercentage > 0">Cancel</button>
</div>
