<div>
    <h2><span>Welcome to Annual Members Meeting Home Page! </span><fa-icon [icon]="faHome"></fa-icon></h2>
    <br />
    <div class="card">
        <div class="card-header">
            <h3>Updates</h3>
        </div>
        <div class="card-body">
            <div *ngIf="activeElection">
                <h4 class="card-title">{{currentDate | date : 'MMMM dd, yyyy'}}</h4>
                <span>{{activeElection.name}} is on-going.</span>
                <br />
                <span>You may view the active election's results and other reports <a [routerLink]="'/reports/' + activeElection.id">here</a>.</span>
                <button class="btn btn-small btn-secondary float-right" [routerLink]="'/reports/' + activeElection.id">View Results</button>
                <br />
                <br />
                <h5 class="card-title">Election Stats</h5>
                <span>Proxies Submitted: {{activeElection.proxyVoted}}</span>
                <br />
                <span>Votes Submitted: {{activeElection.voted}}</span>
                <br />
                <span>Proxies: {{activeElection.proxy}}</span>
                <br />
                <span>Voters: {{activeElection.voter}}</span>
                <br />
                <span>Members: {{activeMembers}}</span>
                <br />
                <strong>Participation: {{participationPercentage | number : '1.2'}} %</strong>
                <br />
            </div>
            <div *ngIf="activeElection" class="mt-4">
                <h5 class="card-title">Need to submit another ballot?</h5>
                <p>
                    Please go to <a routerLink="/ballot">ballot</a> page.
                </p>
                <button class="btn btn-small btn-secondary float-right" routerLink="/ballot">Go to Ballot Page</button>
            </div>
            <div *ngIf="!activeElection">
                <strong>{{currentDate | date : 'MMMM dd, yyyy'}}</strong>
                <span class="ml-5">There are no activities so far</span>
            </div>
        </div>
    </div>
</div>
