<div>
  <h2><span>Change Password </span><fa-icon [icon]="faKey"></fa-icon></h2>
  <div class="row">
    <div class="col-md-4">
      <form [formGroup]="changepasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="oldPassword"><small>Old Password</small></label>
          <input id="oldPassword" formControlName="oldPassword" type="password" placeholder="Old Password" class="form-control" />
        </div>
        <div class="form-group">
          <label for="newPassword"><small>New Password</small></label>
          <input id="newPassword" formControlName="newPassword" type="password" placeholder="New Password" class="form-control" />
        </div>
        <div class="form-group">
          <label for="confirmPassword"><small>Confirm Password</small></label>
          <input id="confirmPassword" formControlName="confirmPassword" type="password" placeholder="Confirm Password" class="form-control" />
        </div>
        <br />
        <button type="submit" class="btn btn-primary" [disabled]="!changepasswordForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>