<div>
  <h2><span>Users </span><fa-icon [icon]="faUsers"></fa-icon>
  </h2>
  <custom-table [headers]="headers" [rows]="rows" [isLastRow]="isLastRow" [domainName]="'User'" [domainIcon]="faUser" [domainFormLink]="administratorFormLink" (onTableReloadRequest)="onTableReloadRequest($event[0])" (onDeleteRow)="onDeleteRow($event[0])"></custom-table>
</div>