<div>
  <h2 *ngIf="!update"><span>Add User </span><fa-icon [icon]="faUser"></fa-icon></h2>
  <h2 *ngIf="update && !userForm.disabled"><span>Edit User </span><fa-icon [icon]="faUser"></fa-icon></h2>
  <h2 *ngIf="update && userForm.disabled"><span>View User </span><fa-icon [icon]="faUser"></fa-icon></h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-md-4">
        <label for="userName">User Name</label>
        <input id="userName" type="text" formControlName="userName" class="form-control" placeholder="User Name" aria-describedby="userNameHelp" required [readonly]="isUpdate()" />
        <small id="userNameHelp">User Name must be unique</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" class="form-control" placeholder="Password" minlength="8" required />
      </div>
      <div class="form-group col-md-4">
        <label for="password">Confirm Password</label>
        <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password" minlength="8" required />
        <small id="userNameHelp" class="text-danger" *ngIf="!passwordsMatched">Passwords didn't match!</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <label for="firstName">First Name</label>
        <input id="firstName" type="text" formControlName="firstName" class="form-control" placeholder="First Name" required />
      </div>
      <div class="form-group col-md-4">
        <label for="middleName">Middle Name</label>
        <input id="middleName" type="text" formControlName="middleName" class="form-control" placeholder="Middle Name"/>
      </div>
      <div class="form-group col-md-4">
        <label for="lastName">Last Name</label>
        <input id="lastName" type="text" formControlName="lastName" class="form-control" placeholder="Last Name" required />
      </div>
    </div>
    <br />
    <div *ngIf="!userForm.disabled" class="row">
      <div class="form-group col-md-12">
        <h4>Roles</h4>
        <p>
          <a (click)="checkAllRoles()">
            <small>Check All</small>
          </a>
          <span>&nbsp;</span>
          <a (click)="uncheckAllRoles()">
            <small>Uncheck All</small>
          </a>
        </p>
        <ul class="no-list-style my-2">
          <li formArrayName="roles" *ngFor="let role of roleList; let i = index">
            <input [id]="role.roleName" type="checkbox" [value]="role.roleName" [formControlName]="i" class="mr-2" />
            <label [for]="role.roleName">{{role.title}}<small> - {{role.description}}</small></label>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="userForm.disabled" class="row">
      <div class="form-group col-md-12">
        <h4>Roles</h4>
        <ul class="no-list-style my-2">
          <li formArrayName="roles" *ngFor="let role of userRoleList; let i = index">
            <span>{{role.title}}<small> - {{role.description}}</small></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="row my-5">
      <div *ngIf="!userForm.disabled" class="form-group col-md-12 text-center">
        <button type="button" class="btn btn-secondary mr-2" (click)="onCancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>
      </div>
      <div *ngIf="userForm.disabled" class="form-group col-md-12 text-center">
        <button type="button" class="btn btn-primary mr-2" (click)="loadEditForm()">Edit User</button>
        <button type="button" class="btn btn-secondary mr-2" (click)="routeToList()">View User List</button>
      </div>
    </div>
  </form>
</div>