<div>
  <h2 *ngIf="!update"><span>Add Election </span><fa-icon [icon]="faPollH"></fa-icon></h2>
  <h2 *ngIf="update && !electionForm.disabled"><span>Edit Election </span><fa-icon [icon]="faPollH"></fa-icon></h2>
  <h2 *ngIf="update && electionForm.disabled">
    <span>View Election </span>
    <fa-icon [icon]="faPollH"></fa-icon>
    <button *ngIf="active" class="btn btn-lg btn-primary float-right mt-3" (click)="viewResult()">View Live Result</button>
    <button *ngIf="!active" class="btn btn-lg btn-primary float-right mt-3" (click)="viewResult()">View Result</button>
  </h2>
  <form [formGroup]="electionForm" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="active" />

    <div class="row">
      <div class="form-group col-md-2">
        <label for="date">Date</label>
        <input type="text" formControlName="date" class="form-control" placeholder="Date" ngbDatepicker #d="ngbDatepicker" (dateSelect)="onDateSelect($event)" (click)="d.toggle()" required readonly />
        <small>Click above text input to set a date.</small>
      </div>
      <div class="form-group col-md-4">
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name" class="form-control" placeholder="Name" required />
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-2">
        <label for="startTime">Start Time</label>
        <ngb-timepicker formControlName="startTime" [meridian]="showMeridian"></ngb-timepicker>
      </div>
      <div class="col-md-2">
        <label for="endTime">End Time</label>
        <ngb-timepicker formControlName="endTime" [meridian]="showMeridian"></ngb-timepicker>
      </div>
    </div>
    
    <hr />
    
    <!-- PROPOSALS -->
    <div class="row mt-4">
      <div class="col-md-12 mb-2">
        <strong>Proposals</strong>
      </div>  
    </div>
    <div formArrayName="proposals" *ngFor="let proposal of proposals.controls; let i = index" class="row">
      <div [formGroupName]="i" class="col-md-6 mb-2">
        <div class="row">
          <div class="col-md-12 input-group">
            <input type="hidden" formControlName="id" />
            <input type="text" formControlName="content" class="form-control" placeholder="{{'Proposal ' + (i+1)}}" />
            <input type="hidden" formControlName="approved" />
            <input type="hidden" formControlName="disapproved" />
            <div class="input-group-append">
              <button *ngIf="!electionForm.disabled" type="button" class="btn btn-sm btn-danger" (click)="removeProposal(i)">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!electionForm.disabled" class="row mb-4">
      <div class="col-md-12">
        <button type="button" class="btn btn-info" title="Add Proposal" (click)="addProposal()" style="width: 200px;">
          <fa-icon [icon]="faPlus"></fa-icon>
          <span>&nbsp;</span>
          <fa-icon [icon]="faFileAlt"></fa-icon>
          <span>&nbsp;&nbsp;</span>
          <span>Add Proposal</span>
        </button>
      </div>
    </div>

    <hr />

    <!-- QUESTIONS -->
    <div class="row mt-4">
      <div class="col-md-12 mb-2">
        <strong>Questions</strong>
      </div>
    </div>
    <div formArrayName="questions" *ngFor="let question of questions.controls; let i = index" class="row">
      <div [formGroupName]="i" class="col-md-6 mb-2">
        <div class="row">
          <div class="col-md-12 input-group">
            <input type="hidden" formControlName="id" />
            <input type="text" formControlName="content" class="form-control" placeholder="{{'Question ' + (i+1)}}" />
            <div class="input-group-append">
              <button *ngIf="!electionForm.disabled" type="button" class="btn btn-sm btn-danger" (click)="removeQuestion(i)">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
              </button>
            </div>
          </div>
          <div class="col-md-12 mt-2 pl-5">
            <span>Answers</span>
          </div>
          <div formArrayName="answers" *ngFor="let answer of question.get('answers').controls; let j = index" class="col-md-12 mt-2 pl-5 pr-5 ">
            <div [formGroupName]="j" class="input-group">
              <input type="hidden" formControlName="id" />
              <input type="hidden" formControlName="selected" />
              <input type="text" formControlName="content" class="form-control" placeholder="{{'Answer ' + (j+1)}}" />
              <div class="input-group-append">
                <button *ngIf="!electionForm.disabled" type="button" class="btn btn-sm btn-danger" (click)="removeAnswer(i, j)">
                  <fa-icon [icon]="faTrashAlt"></fa-icon>
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="!electionForm.disabled" class="col-md-12 my-2 pl-5">
            <button type="button" class="btn btn-default" title="Add Answer" (click)="addAnswer(i)">
              <fa-icon [icon]="faPlus"></fa-icon>
              <span>&nbsp;&nbsp;</span>
              <span>Add Answer</span>
            </button>
          </div>
        </div>
      </div>
    </div>  
    <div *ngIf="!electionForm.disabled" class="row mb-4">
      <div class="col-md-12">
        <button type="button" class="btn btn-info" title="Add Question" (click)="addQuestion()" style="width: 200px;">
          <fa-icon [icon]="faPlus"></fa-icon>
          <span>&nbsp;</span>
          <fa-icon [icon]="faQuestionCircle"></fa-icon>
          <span>&nbsp;&nbsp;</span>
          <span>Add Question</span>
        </button>
      </div>
    </div>

    <hr />

    <!-- SEATS -->
    <div class="row mt-4">
      <div class="col-md-12 mb-2">
        <strong>Seats</strong>
      </div>    
    </div>
    <div formArrayName="seats" *ngFor="let seat of seats.controls; let i = index" class="row mb-2">
      <div [formGroupName]="i" class="col-md-6 mb-2">
        <div class="row">
          <div class="col-md-12 input-group">
            <input type="hidden" formControlName="id" />
            <input type="text" formControlName="name" class="form-control" placeholder="{{'Seat ' + (i+1)}}" />
            <div class="input-group-append">
              <button *ngIf="!electionForm.disabled" type="button" class="btn btn-sm btn-danger" (click)="removeSeat(i)">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
              </button>
            </div>
          </div>
          <div class="col-md-3 pl-5 my-2">
            <label>Seat Count</label>
            <input type="number" formControlName="count" class="form-control" placeholder="Seat Count" />
          </div>
          <div class="col-md-12 pl-5 mt-2 mb-1">
            <span>Candidates</span>
          </div>
          <div *ngIf="seat.get('candidates').length == 0" class="col-md-12 pl-5 mt-1">
            <i>List is empty. Please use the search box below to add a candidate.</i>
          </div>
          <div formArrayName="candidates" *ngFor="let candidate of seat.get('candidates').controls; let j = index" class="col-md-12 pl-5 mt-1">
            <div class="input-group">
              <input type="text" class="form-control" value="{{candidate.get('firstName').value + ' ' + candidate.get('lastName').value}}" readonly />
              <div class="input-group-append">
                <button *ngIf="!electionForm.disabled" type="button" class="btn btn-sm btn-danger" (click)="removeCandidate(i, j)">
                  <fa-icon [icon]="faTrashAlt"></fa-icon>
                </button>
              </div>
            </div>
            <div [formGroupName]="j">
              <input type="hidden" formControlName="id" />
              <input type="hidden" formControlName="approved" />
              <input type="hidden" formControlName="disapproved" />
              <input type="hidden" formControlName="memberId" />
              <input type="hidden" formControlName="firstName" />
              <input type="hidden" formControlName="middleName" />
              <input type="hidden" formControlName="lastName" />
              <input type="hidden" formControlName="suffix" />
            </div>
          </div>
          <div *ngIf="!electionForm.disabled" class="col-md-12 pl-5 my-2">
            <div class="input-group">
              <input type="text" class="form-control" [ngbTypeahead]="search" [resultFormatter]="formatter" [inputFormatter]="formatter" (selectItem)="addCandidate($event, i)" editable="false" placement="top-left" placeholder="Search Member" (click)="memberSearchBox.value = ''" #memberSearchBox />
              <div class="input-group-append">
                <button id="clearSearch" type="button" class="btn btn-outline-dark" (click)="memberSearchBox.value = ''">Clear Search</button>
              </div>
            </div>
            <small>Search a member using this search box. Enter or click the member from the selection to select a member.</small>
          </div>  
        </div>
      </div>
    </div>
    <div *ngIf="!electionForm.disabled" class="row mb-4">
      <div class="col-md-12">
        <button type="button" class="btn btn-info" title="Add Seat" (click)="addSeat()" style="width: 200px;">
          <fa-icon [icon]="faPlus"></fa-icon>
          <span>&nbsp;</span>
          <fa-icon [icon]="faChair"></fa-icon>
          <span>&nbsp;&nbsp;</span>
          <span>Add Seat</span>
        </button>
      </div>
    </div>
    <div class="row my-5">
      <div *ngIf="!electionForm.disabled" class="form-group col-md-12 text-center">
        <button type="button" class="btn btn-secondary mr-2" (click)="onCancel()">Cancel</button>
        <button *ngIf="!active" type="button" class="btn btn-info mr-2" (click)="submitAndActivateElection()" [disabled]="!electionForm.valid">Submit and Set Election as Active</button>
        <button type="submit" class="btn btn-primary" [disabled]="!electionForm.valid">Submit</button>
      </div>
      <div *ngIf="electionForm.disabled" class="form-group col-md-12 text-center">
        <button *ngIf="!active && hasRole('ROLE_ELECTION_ADMIN')" type="button" class="btn btn-primary mr-2" (click)="loadEditForm()">Edit Election</button>
        <button *ngIf="!active && hasRole('ROLE_ELECTION_ADMIN')" type="button" class="btn btn-info mr-2" (click)="activateElection()">Set Election as Active</button>
        <button *ngIf="active && hasRole('ROLE_ELECTION_ADMIN')" type="button" class="btn btn-info mr-2" (click)="deactivateElection()">Set Election as Inactive</button>
        <button type="button" class="btn btn-secondary mr-2" (click)="routeToList()">View Election List</button>
      </div>
    </div>
  </form>
</div>
