<div>
    <h2><span>Elections </span> <fa-icon [icon]="faPollH"></fa-icon>
    </h2>

    <custom-table [headers]="headers" [rows]="rows" [isLastRow]="isLastRow" [domainName]="'Election'" [domainIcon]="faPollH" [domainFormLink]="electionFormLink" hideSearchPanel="true" adminRole="ROLE_ELECTION_ADMIN" (onTableReloadRequest)="onTableReloadRequest($event[0])" [allowDeleteActiveRow]="false" (onDeleteRow)="onDeleteRow($event[0])"></custom-table>
</div>