<div class="card">
  <div class="card-header">
    <h5>Election Info</h5>
  </div>
  <div *ngIf="activeElection" class="card-body">
    <h6 class="card-title">{{activeElection.name}}</h6>
    <p>{{date | date : 'MMMM dd, yyyy'}}  {{startTime12Hour | date : 'hh:mm a'}} - {{endTime12Hour | date : 'hh:mm a'}}</p>
    <small>Current Registered Proxy Voters: {{activeElection.proxy}}</small>
    <br />
    <small>Current Total Registered Voters: {{activeElection.voter}}</small>
    <br />
    <small>Current Total Registered Members: {{membersCount}}</small>
  </div>
  <div *ngIf="!activeElection" class="card-body">
    <h6 class="card-title">No Active Election</h6>
  </div>
</div>