<div>
  <div class="card">
    <div class="card-header bg-info text-white">
      <h5 class="font-weight-bold">Registered Voters</h5>
    </div>
    <div class="card-body">
      <custom-table [addButtonShown]="false" [allowEdit]="false" [allowView]="false" [headers]="headers" [rows]="rows" [isLastRow]="isLastRow" [domainName]="'Voter'" [domainIcon]="faPollH" [domainFormLink]="electionFormLink" adminRole="ROLE_VOTER_ADMIN" (onTableReloadRequest)="onTableReloadRequest($event[0])" (onDeleteRow)="onDeleteRow($event[0])"></custom-table>
    </div>
  </div>
</div>