<div class="card mt-3">
  <div class="card-header">
    <h5>Registration Form</h5>
  </div>
  <div class="card-body">
    <div class="input-group">
      <input type="text" class="form-control" [disabled]="voterInput.disabled" [ngbTypeahead]="search" [resultFormatter]="formatter" [inputFormatter]="formatter" (selectItem)="registerVoter($event)" editable="false" placement="top-left" placeholder="Search Member" #memberSearchBox />
      <div class="input-group-append">
        <button id="clearSearch" type="button" class="btn btn-outline-dark" (click)="memberSearchBox.value = ''">Clear Search</button>
      </div>
    </div>
    <small>Search a member using this search box. Enter or click the member from the selection to select a member.</small>
    <hr />

    <label for="firstName" class="mt-2">First Name</label>
    <input id="firstName" type="text" [value]="member.firstName || ''" class="form-control mb-2" placeholder="First Name" readonly />
    <label for="lastName">Last Name</label>
    <input type="text" [value]="member.lastName || ''" class="form-control mb-2" placeholder="Last Name" readonly />
    <label for="member">Member ID</label>
    <input id="memberId" type="number" [value]="member.memberId" class="form-control mb-2" placeholder="Member ID" readonly />
    <input id="proxy" type="checkbox" [(ngModel)]="proxy" class="mt-3" />
    <label for="proxy" class="ml-2 mb-2">Proxy</label>
      
    <div *ngIf="proxy">
      <input type="text" class="form-control" [disabled]="voterInput.disabled" [ngbTypeahead]="searchProxy" [resultFormatter]="formatter" [inputFormatter]="formatter" (selectItem)="addProxy($event)" editable="false" placement="top-left" placeholder="Search Proxy Voter" />  
      <div *ngIf="proxyDetails != undefined">
        <label for="firstName" class="mt-2">First Name</label>
        <input id="firstName" type="text" [value]="proxyDetails.firstName || ''" class="form-control mb-2" placeholder="Proxy First Name" readonly />
        <label for="lastName">Proxy Last Name</label>
        <input type="text" [value]="proxyDetails.lastName || ''" class="form-control mb-2" placeholder="Proxy Last Name" readonly />
        <label for="member">Proxy Member ID</label>
        <input id="memberId" type="number" [value]="proxyDetails.memberId" class="form-control mb-2" placeholder="Member ID" readonly />
      </div>
    </div>
  
    <form [formGroup]="voterInput" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="electionId" />
      <input type="hidden" formControlName="memberId" />
      <input type="hidden" formControlName="proxy" />
      <input type="hidden" formControlName="memberId" />
      <hr />
      <button class="btn btn-primary float-right" [disabled]="voterInput.disabled">Register Voter</button>
    </form>
  </div>
</div>