<div>
  <h2><span>Voters Registration </span><fa-icon [icon]="faFingerprint"></fa-icon></h2>
  <div class="row mt-4 mb-5">
    <div class="col-md-4">
      <election-info></election-info>
      <voter-registration *ngIf="hasRole('ROLE_VOTER_ADMIN')"></voter-registration>
    </div>
    <div class="col-md-8">
      <voters-registered></voters-registered>
    </div>
  </div>
</div>