<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Log-in</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <input id="username" type="text" formControlName="username" class="form-control my-2" placeholder="User Name" />
        <input id="password" type="password" formControlName="password" class="form-control my-2" placeholder="Password" />
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" style="display: none;">Submit</button>
      <ul class="error-list">
        <li *ngFor="let message of messageService.messages" class="alert alert-danger">
          <span>{{message}}</span>
        </li>
      </ul>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" (click)="login()">Submit</button>
  </div>
</ng-template>

<button class="btn btn-outline-light" (click)="open(content)">Admin Log-in</button>
