@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.content-padding {
    padding-top: 70px;
}

input:required {
    border-left: 12px solid #00f;
}

ul.no-list-style {
    list-style: none;
    padding-left: 5px;
}

a.clickable-link, i.clickable-link, span.clickable-link {
    cursor: pointer;
    color: #00f;
}