span.step {
    font-size: x-large;
}

ul.ballot-options {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

ul.ballot-options > li > label {
    margin-bottom: 0px;
}

h6.to-uppercase {
    text-transform: uppercase;
}

h6.adjust-mb {
    margin-bottom: -25px;
}