<div class="container bg-secondary py-3 mb-5">
  <form [formGroup]="ballot" (ngSubmit)="onSubmit()">
    <div class="card" style="min-height: 1200px;">
      <div *ngIf="activeElection" class="card-body">
        <h3 class="card-title text-center">{{activeElection.name}} Ballot</h3>
        <p class="card-text text-center">
          <small>{{date | date : 'MMMM dd, yyyy'}} {{startTime12Hour | date : 'hh:mm a'}} - {{endTime12Hour | date : 'hh:mm a'}}</small>
        </p>

        <input type="hidden" formControlName="electionId" />
        
        <!-- PROPOSALS -->
        <div *ngIf="proposalList && proposalList.length">
          <h6 class="card-title font-weight-bold adjust-mb">PROPOSALS</h6>
          <div class="table-responsive mb-2">
            <button type="button" class="btn btn-sm btn-secondary mb-2 ml-2 float-right" (click)="approveAllProposals()">Approve All</button>
            <button type="button" class="btn btn-sm btn-secondary mb-2 ml-2 float-right" (click)="disapproveAllProposals()">Disapprove All</button>
            <table class="table table-bordered table-hover">
              <tbody>
                <tr formGroupName="proposals" *ngFor="let proposal of proposalList; let i = index">
                  <td>
                    <span>{{proposal.content}}</span>
                  </td>
                  <td>
                    <ul class="ballot-options">
                      <li>
                        <input id="{{proposal.id}}_approve" [formControlName]="proposal.id" type="radio" [value]="true" />
                        <label for="{{proposal.id}}_approve" [class]="(proposals.get([proposal.id]).value ? 'text-success' : '') + ' font-weight-bold ml-2'">
                          <span class="mr-2">Approve</span>
                          <fa-icon *ngIf="proposals.get([proposal.id]).value" [icon]="faCheck"></fa-icon>
                        </label>
                      </li>
                      <li>
                        <input id="{{proposal.id}}_disapprove" [formControlName]="proposal.id" type="radio" [value]="false" />
                        <label for="{{proposal.id}}_disapprove" [class]="(proposals.get([proposal.id]).value ? '' : 'text-danger') + ' font-weight-bold ml-2'">
                          <span class="mr-2">Disapprove</span>
                          <fa-icon *ngIf="!proposals.get([proposal.id]).value" [icon]="faTimes"></fa-icon>
                        </label>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- QUESTIONS -->
        <div *ngIf="questionList && questionList.length" class="mb-4">
          <h6 class="card-title font-weight-bold">QUESTIONS</h6>
          <div class="table-responsive mb-2">
            <table class="table table-bordered table-hover">
              <tbody>
                <tr formGroupName="questions" *ngFor="let question of questionList; let i = index">
                  <td>
                    <span>{{question.content}}</span>
                  </td>
                  <td>
                    <ul class="ballot-options">
                      <li *ngFor="let answer of question.answers">
                        <input [id]="answer.id" [formControlName]="question.id" type="radio" [value]="answer.id" />
                        <label [for]="answer.id" [class]="(questions.get(question.id).value === answer.id ? 'text-primary' : '') + ' font-weight-bold ml-2'">
                          <span class="mr-2">{{answer.content}}</span>
                          <fa-icon *ngIf="questions.get(question.id).value === answer.id" [icon]="faArrowLeft"></fa-icon>
                        </label>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- CANDIDATES -->
        <div *ngIf="seatList && seatList.length">
          <div formGroupName="seats" *ngFor="let seat of seatList">
            <div>
              <h6 class="card-title font-weight-bold to-uppercase adjust-mb">{{seat.name}}</h6>
              <div class="table-responsive mb-2">
                <button type="button" class="btn btn-sm btn-secondary mb-2 ml-2 float-right" (click)="approveAllCandidates(seat)">Check All</button>
                <button type="button" class="btn btn-sm btn-secondary mb-2 ml-2 float-right" (click)="disapproveAllCandidates(seat)">Uncheck All</button>
                <table class="table table-bordered table-hover">
                  <tbody>
                    <tr [formArrayName]="seat.id" *ngFor="let candidate of seat.candidates; let i = index">
                      <td [formGroupName]="i">
                        <input type="hidden" formControlName="candidateId" [value]="candidate.id"  />
                        <input [id]="candidate.id" formControlName="approved" type="checkbox" class="mr-2" [value]="true" />
                        <label [for]="candidate.id" [class]="seats.get(seat.id).at(i).get('approved').value ? 'font-weight-bold text-primary' : ''">{{candidate.firstName}} {{candidate.lastName}}</label>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- memberId -->
        <div class="row my-3">
          <div class="col-md-4">
            <label for="memberId">Member ID</label>
            <input id="memberId" type="number" formControlName="memberId" class="form-control"  placeholder="Member ID" />
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary" [disabled]="!ballot.valid">Submit Vote</button>
        </div>
      </div>
      <div *ngIf="!activeElection" class="card-body">
        <h3 class="card-title text-center">There is no active election</h3>
        <p class="card-text text-center">Authorized users may create or set an active election through the election management page.</p>
      </div>
    </div>
  </form>
</div>