<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Please Confirm</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul>
    <li>
      <span>Are you sure you want to {{action}}?</span>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="emitApprove()">Yes, please.</button>
  <button class="btn btn-danger" (click)="emitDisapprove()">No. Do nothing.</button>
</div>