<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul>
    <li>
      <span>Are you sure you want to delete the following {{domainName}}?</span>
      <ul>
        <li>{{description}}</li>
      </ul>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button id="deleteItem" class="btn btn-primary" (click)="emitApproveDelete()">Yes, please.</button>
  <button class="btn btn-danger" (click)="activeModal.dismiss('Cross click')">No. Do nothing.</button>
</div>