<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul>
    <li>
      <span>{{message}}</span>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="activeModal.close('Close Modal')">Close</button>
</div>