a.clickable-table-header {
    cursor: pointer;
    color: #000088;
}

.table-hover tbody tr:hover {
    background-color: #dddd99;
}

a.edit {
    color: blue;
    cursor: pointer;
}

a.delete {
    color: red;
    cursor: pointer;
}

a.view {
    color: orange;
    cursor: pointer;
}

td.action-links-col {
    width: 80px;
}

.action-links, i.action-links {
    font-size: 20px;
}