<div class="form-inline">
    <input *ngIf="!hideSearchPanel" [(ngModel)]="keyword" class="form-control" type="text" placeholder="Search" aria-label="Search">
    <button *ngIf="!hideSearchPanel" class="btn btn-outline-dark my-2 ml-2" (click)="clearSearchField()">Clear</button>
    <div *ngIf="activeFilterShown" class="ml-2">
      <select id="activeFilter" [(ngModel)]="activeFilter" class="form-control">
        <option value="">Show Active and Inactive</option>
        <option value="activeOnly">Show Active Only</option>
        <option value="inactiveOnly">Show Inactive Only</option>
      </select>
    </div>
    <button *ngIf="hasAddButton" class="btn btn-primary my-2 ml-auto" routerLink="{{domainFormLink}}"><span>Add </span><fa-icon [icon]="faPlus" class="mr-2"></fa-icon><fa-icon [icon]="domainIcon"></fa-icon></button>
</div>
<div class="table-responsive">
  <table class="table table-striped table-hover mb-0">
    <thead>
      <tr>
        <th *ngFor="let header of headers">
          <a *ngIf="header.sortable" class="clickable-table-header" (click)="headerClicked(header, sortedAscending === header.field)">
            <span>{{header.name}} </span>
            <span *ngIf="sortedDescending === header.field"><fa-icon [icon]="faAngleDown"></fa-icon></span>
            <span *ngIf="sortedAscending === header.field"><fa-icon [icon]="faAngleUp"></fa-icon></span>
          </a>
          <span *ngIf="!header.sortable">{{header.name}}</span>
        </th>
        <th *ngIf="hasView">&nbsp;</th>
        <th *ngIf="hasEdit">&nbsp;</th>
        <th *ngIf="hasDelete">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows">
        <td *ngFor="let column of row.columns">{{column.value}}</td>
        <td *ngIf="hasView" class="action-links-col"><a class="view" title="View" (click)="loadEditForm(row.id, true)"><fa-icon [icon]="faEye" class="action-links"></fa-icon></a></td>
        <td *ngIf="hasEdit" class="action-links-col"><a class="edit" title="Edit" (click)="loadEditForm(row.id)"><fa-icon [icon]="faEdit" class="action-links"></fa-icon></a></td>
        <td *ngIf="hasDelete" class="action-links-col"><a *ngIf="allowDeleteActiveRow || (!allowDeleteActiveRow && !row.active)" class="delete" title="Delete" (click)="loadDeleteForm(row)"><fa-icon [icon]="faTrashAlt" class="action-links"></fa-icon></a></td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="hasData" class="text-center mb-3">
    <hr class="mt-0" />
    <a *ngIf="!isLastRow && !tooFewRecords" (click)="loadMoreRequested()"><fa-icon [icon]="faArrowDown" style="color: #00f;"></fa-icon> <span class="clickable-link"> Load More</span></a>
    <strong *ngIf="isLastRow || tooFewRecords">End of List</strong>
  </div>
  <div *ngIf="!hasData" class="text-center mb-3">
    <hr />
    <strong>No Data Available</strong>
  </div>
</div>
<table-search [searchKeyword]="keyword" (onSearchKeywordChanged)="onSearchKeywordChanged()"></table-search>